
.one{
	background-image: url(assets/img/pexels-photo-92905.jpeg); 
}

/*.one .page-container{
	position: absolute;
	bottom: 100px;
	margin-left: -400px;
	left: 50%;
	margin-bottom: 150px;
	max-width: 650px;
}

.one .page-container h2{
	font-size: 4em;
}

.one .page-container p{
	padding: 20px 0;
	line-height: 1.5em;
}

.two{
	background-color: #b69877;
}

.two .page-container{
	position: absolute;
	bottom: 100px;
	margin-left: -400px;
	left: 50%;
	margin-bottom: 150px;
	max-width: 650px;
}

.two .page-container h2{
	font-size: 4em;
}

.two .page-container p{
	padding: 20px 0;
	line-height: 1.5em;
}

.three{
	background-color: #036564;
}

.three .page-container{
	position: absolute;
	bottom: 0px;
	margin-left: -400px;
	left: 50%;
	margin-bottom: 150px;
	max-width: 650px;
}

.three .page-container h2{
	font-size: 4em;
}

.three .page-container p{
	padding: 20px 0;
	line-height: 1.5em;
}*/
















